<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342516576144-7ae2hmoj3t49phteovbon4jcrtah4eql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342516576144-7ae2hmoj3t49phteovbon4jcrtah4eql</string>
	<key>API_KEY</key>
	<string>AIzaSyDLjibukIzgD6ZFJ66IpncvGwJfmkxyLJM</string>
	<key>GCM_SENDER_ID</key>
	<string>342516576144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kitaissi.mobile</string>
	<key>PROJECT_ID</key>
	<string>issi-mobile-22520</string>
	<key>STORAGE_BUCKET</key>
	<string>issi-mobile-22520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342516576144:ios:399d8a18e204f54b8b4d15</string>
</dict>
</plist>